<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>{ifset pageTitle}{include pageTitle} | {/ifset} Administration | {$projectName}</title>
	<link rel="stylesheet" href="{$basePath}/style/admin.css">
	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
</head>
<body>
	<header>
		<h1>{$projectName} Administration</h1>
		<nav>

		</nav>
	</header>

	<main>
		<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
		<article>
			{block content}{/block}
		</article>
	</main>

	<script src="http://nette.github.io/resources/js/netteForms.js"></script>

</body>
</html>
