{block pageTitle}{$currentCategory->name}{/block}

{block content}

{if $currentCategory->hasProducts()}
	<ul>
		<li n:foreach="$currentCategory->products as $product">
			<a n:href=":Front:Product:Product: path => $product->getPath($currentCategory)">
				{$product->name}
				<img n:if="$product->mainImage" src="{$basePath}/{$imagesDir}/{$product->mainImage->path}" title="{$product->name}" style="width: 10%;">
			</a>
			<br>
			{$product->price} $
		</li>
	</ul>

{else}
	No products...
{/if}
