{block pageTitle}{$currentCategory->name}{/block}

{block content}

{if $currentCategory->hasProducts()}
	<ul>
		<li n:foreach="$currentCategory->products as $product">
			{$product->name}<br>
			{$product->price} $
		</li>
	</ul>

{else}
	No products...
{/if}
