{block pageTitle}{$product->name} | {$currentCategory->name}{/block}

{block content}

<h1>{$product->name}</h1>

<div class="product-description">
	{$product->description}
</div>

<div class="product-buy">
	{$product->price}
</div>
