{block pageTitle}{$currentProduct->name} | {$currentCategory->name}{/block}

{block content}

<h1>{$currentProduct->name}</h1>

<div class="product-description">
	{$currentProduct->description}
</div>

<div class="product-buy">
	{$currentProduct->price}
</div>
