php:
	date.timezone: Europe/Prague

application:
	errorPresenter: Home:Error
	mapping:
		*: ShoPHP\*\*Presenter

session:
	expiration: %session.expiration%

services:
	authenticator: ShoPHP\Authenticator
