php:
	date.timezone: Europe/Prague

application:
	errorPresenter: Home:Error
	mapping:
		Admin: ShoPHP\Admin\*\*Presenter

session:
	expiration: %session.expiration%

services:
	authenticator: ShoPHP\Authenticator
	security.user: ShoPHP\User\IdentityService
