services:
	router:
		class: ShoPHP\Routes
		arguments:
			routes: %routes%

parameters:
	routes:
		/:
			defaults: "Front:Home:Homepage:default"

		/terms-of-trade:
			defaults: "Front:Home:Terms:default"

		/about-us:
			defaults: "Front:Home:About:default"

		"/category/<path [a-z0-9/-]+>":
			defaults: "Front:Product:Category:default"

		"/product/<path [a-z0-9/-]+>":
			defaults: "Front:Product:Product:default"

		"/cart":
			defaults: "Front:Order:Cart:default"

		"/cart/address":
			defaults: "Front:Order:Address:default"

		"/cart/shipment":
			defaults: "Front:Order:Shipment:default"

		"/cart/payment":
			defaults: "Front:Order:Payment:default"

		"/order":
			defaults: "Front:Order:Order:default"

		"/registration":
			defaults: "Front:User:Registration:default"

		"/admin/<presenter>/<action>[/<id [0-9]+>]":
			defaults:
				module: Admin
				action: default
