services:

	-
		class: ShoPHP\BaseDataService
		arguments:
			projectName: %projectName%

	-
		factory: Doctrine\ORM\EntityManager::create
		arguments:
			conn: %doctrine.connection%

	-
		factory: Doctrine\ORM\Tools\Setup::createAnnotationMetadataConfiguration
		arguments:
			paths: %doctrine.paths%
			isDevMode: %debugMode%
			proxyDir: %doctrine.proxyDir%

	-
		class: ShoPHP\TemplateFilters

	-
		class: ShoPHP\StringHelper

	-
		class: ShoPHP\MoneyHelper
		arguments:
			currency: %currency.symbol%
			currencyWrittenAfter: %currency.writtenAfter%

	-
		class: ShoPHP\Shipment\ShipmentHelper

	-
		class: ShoPHP\Translator

	-
		class: ShoPHP\Product\CategoryService

	-
		class: ShoPHP\Order\CartService

	-
		class: ShoPHP\Order\CurrentCartService

	-
		class: ShoPHP\Order\OrderService
		arguments:
			cashPaymentAvailable: %payment.cash%
			bankPaymentAvailable: %payment.bank%
			cardPaymentAvailable: %payment.card%

	-
		class: ShoPHP\Product\ProductService

	-
		class: ShoPHP\Product\ProductImageService
		arguments:
			imagesDir: %product.images.dir%

	-
		class: ShoPHP\Shipment\ShipmentService

	-
		class: ShoPHP\User\UserService

	-
		implement: ShoPHP\LoginFormFactory
		arguments:
			permanentLoginExpiration: %session.expiration%

	-
		implement: ShoPHP\PaginatorControlFactory

	-
		implement: ShoPHP\LogoutFormFactory

	-
		implement: ShoPHP\Front\Product\BuyFormFactory

	-
		implement: ShoPHP\Front\User\RegistrationFormFactory

	-
		implement: ShoPHP\Front\Order\CartFormFactory

	-
		implement: ShoPHP\Front\Order\ShipmentFormFactory

	-
		implement: ShoPHP\Front\Order\PaymentFormFactory

	-
		implement: ShoPHP\Front\Order\AddressFormFactory

	-
		implement: ShoPHP\Admin\Product\ProductFormFactory

	-
		implement: ShoPHP\Admin\Product\ProductFormControlFactory
		arguments:
			imagesDir: %product.images.publicPath%

	-
		implement: ShoPHP\Admin\Category\CategoriesFormFactory

	-
		implement: ShoPHP\Admin\Category\CategoriesFormControlFactory

	-
		implement: ShoPHP\Admin\Category\ManageCategoriesFormFactory

	-
		implement: ShoPHP\Admin\Shipment\ShipmentFormFactory

	-
		implement: ShoPHP\Admin\Shipment\ShipmentFormControlFactory
