<ul>
	<li>
		<a n:href=":Front:Home:Homepage:">{_'Home'}</a>
	</li>
	<li>
		<a n:href=":Front:Home:About:">{_'About us'}</a>
	</li>
	{*<li n:foreach="$mainMenu as $link => $name">*}
		{*<a href="{$link}">{_$name}</a>*}
	{*</li>*}
	<li>
		<a n:href=":Front:Home:Terms:">{_'Terms of trade'}</a>
	</li>
</ul>
